<html>
<head>
  <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
{% include 'menu.html' %}
  <div class="nbviewer-error">
    <header class="jumbotron masthead">
      <div class="inner">
        <h1>mdviewer</h1>
        <h2>마크다운 문서를 공유하는 간단한 방법</h2>
        <h2>A simple way to share markdown docs</h2>
        <p>여기에 렌더링 되길 원하는 마크다운 문서의 위치를 입력하세요:</p>
        <p>Enter the location of a markdown to have it rendered here:</p>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form method="post" action="/create/">
              <div class="input-group">
                <input class="form-control"
                 id="main-input"
                 type="text"
                 name="gistnorurl"
                 autofocus="autofocus"
                 placeholder="URL | GitHub username | GitHub username/repo | Gist ID"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" type="button">
                    Go!
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>

      </div>
    </header>
    <!--<p class="faq-link">Read the <a href='/faq'>FAQ</a> for more information.</p>-->
  </div>
</body>
</html>
