<html>
<head>
  <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
{% include 'menu.html' %}
  <div class="nbviewer-error">
    <header class="jumbotron masthead">
      <div class="inner">
        <h1>mdviewer</h1>
        <h2>마크다운 문서를 공유하는 간단한 방법</h2>
        <h2>A simple way to share markdown docs</h2>
        <p>여기에 렌더링 되길 원하는 마크다운 문서의 위치를 입력하세요:</p>
        <p>Enter the location of a markdown to have it rendered here:</p>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form method="post" action="/create/">
              <div class="input-group">
                <input class="form-control"
                 id="main-input"
                 type="text"
                 name="gistnorurl"
                 autofocus="autofocus"
                 placeholder="URL | GitHub username | GitHub username/repo | Gist ID"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" type="button">
                    Go!
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--<p class="faq-link">Read the <a href='/faq'>FAQ</a> for more information.</p>-->
  </div>
  <div class="container container-main">
    <h2>mdviewer는 무엇입니까?</h2>
    <h2>What is mdviewer?</h2>
    <p><a href="https://github.com/SDRLurker/mdviewer" target="_blank">mdviewer</a>
    는 마크다운 파일의 URL을 입력하여 정적인 HTML 웹페이지로써 마크다운을 렌더링하고
    다른 사람과 공유할 수 있는 페이지의 정적 링크를 제공합니다.</p>
    <p><a href="https://github.com/SDRLurker/mdviewer" target="_blank">mdviewer</a>
    is a web application that lets you enter the URL of a markdown file,
    renders that markdown as a static HTML web page, and gives you a stable link to
    that page which you can share with others.</p>
    <p>mdviewer는 오픈소스 프로젝트입니다.</p>
    <p>mdviewer is an open source project.</p>
    <h2>추가적인 질문은 어디에 할 수 있을까요?</h2>
    <h2>Where can I ask additional questions?</h2>
    <p>mdviewer의 좋은 기능이나 버그 리포트를 제안하고 싶으시면
    <a href="https://github.com/SDRLurker/mdviewer" target="_blank">mdviewer 프로젝트의 issue
    </a>를 열어주세요. 또는 아래의 Disqus에 당신의 질문을 남겨주세요.</p>
    <p>If you would like to
    propose an enhancement to mdviewer or file a bug report, please open an <a href="https://github.com/SDRLurker/mdviewer" target="_blank">issue
    in the mdviewer project on GitHub</a>.
    Please post your questions about using mdviewer in the below Disqus.</p>
    <div id="disqus_thread"></div>
  </div>

<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mdviewer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>
</html>
