<nav id="menubar" class="navbar navbar-default navbar-fixed-top" data-spy="affix">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/">
      <b>mdviewer</b>
    </a>
  </div>
  <div class="collapse navbar-collapse">
  </div><!-- /.navbar-collapse -->
</div>
</nav>
